header {
    background-color: mediumseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

body {

}

.introduction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.pic-of-me {
    max-width: 40%;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    margin: auto;
    max-width: 70%;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.portfolio-info {
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}